<div id="jamendoWidgetContainer" class="center widget fakeHide">
<h3 >You are currently listening a song from</h3>
<a href="http://www.jamendo.com" target="_blank"><img src="{{ asset('bundles/cogimixjamendo/images/jamendo-logo.png')}}" title="Jamendo" alt="Jamendo"/></a>
</div>