<li class="playlist-listitem jam-playlist-item draggable" data-alias="{{ 'jam'~item['id'] }}" data-droppedhook='jam-playlist' data-id="{{ item['id'] }}">
<a href="#" class="showPlaylistJamendoBtn">{{ item['name'] }}</a>
<div class="playlist-action">
     <a class="playPlaylistJamendoBtn actionBtn" href="#"><img src="{{ asset('bundles/cogimix/images/control_play_mini.png') }}"/></a>
</div>
</li>